@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
<div id="header">
	<div>
		<a href="index.html"><img src="images/logo.gif" alt="Logo" /></a>
	</div>
	<ul>
		<li class="first current"><a href="index.html">Home</a></li>
		<li><a href="recipes.html">Recipes</a></li>
		<li><a href="about.html">About us</a></li>
		<li><a href="blog.html">Blog</a></li>
		<li class="last"><a href="contact.html">Contact Us</a></li>
	</ul>
</div>
