@inherits Umbraco.Web.Macros.PartialViewMacroPage

@{
    var Content = Model.MacroParameters["Content"] != null ? Model.MacroParameters["Content"] : Model.Content.Id;

    var footerText = @Umbraco.TypedContent(Content);

    <p class="footnote">
        @Html.Raw(footerText["FooterText"]);
    </p>

}
