<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE root [<!ELEMENT footer ANY>
<!ATTLIST footer id ID #REQUIRED>
<!ELEMENT settings ANY>
<!ATTLIST settings id ID #REQUIRED>
<!ELEMENT genericContent ANY>
<!ATTLIST genericContent id ID #REQUIRED>
<!ELEMENT category ANY>
<!ATTLIST category id ID #REQUIRED>
<!ELEMENT teaserText ANY>
<!ATTLIST teaserText id ID #REQUIRED>
<!ELEMENT preFooter ANY>
<!ATTLIST preFooter id ID #REQUIRED>
<!ELEMENT recipe ANY>
<!ATTLIST recipe id ID #REQUIRED>
<!ELEMENT home ANY>
<!ATTLIST home id ID #REQUIRED>
]>
<root id="-1">
  <home id="1073" key="11163bb8-36ab-48f4-89f4-71860c0a6851" parentID="-1" level="1" creatorID="1" sortOrder="0" createDate="2017-12-05T15:29:43" updateDate="2017-12-05T15:29:43" nodeName="Home" urlName="home" path="-1,1073" isDoc="" nodeType="1072" creatorName="Santosh" writerName="Santosh" writerID="1" template="1071" nodeTypeAlias="home" isPublished="true" />
  <settings id="1080" key="ee56b2c3-4d4c-44e4-ae86-e65038d555fb" parentID="-1" level="1" creatorID="0" sortOrder="1" createDate="2017-12-06T10:27:55" updateDate="2017-12-06T10:27:55" nodeName="Settings" urlName="settings" path="-1,1080" isDoc="" nodeType="1078" creatorName="Deendayal Sundaria" writerName="Deendayal Sundaria" writerID="0" template="0" nodeTypeAlias="settings" isPublished="true">
    <footer id="1081" key="12bf028b-7c34-4352-90d8-0b6607bf89c9" parentID="1080" level="2" creatorID="0" sortOrder="0" createDate="2017-12-06T10:28:27" updateDate="2017-12-06T10:28:27" nodeName="Footer Text" urlName="footer-text" path="-1,1080,1081" isDoc="" nodeType="1079" creatorName="Deendayal Sundaria" writerName="Deendayal Sundaria" writerID="0" template="0" nodeTypeAlias="footer" isPublished="true">
      <footerText><![CDATA[&copy; 2017 Healthy Life. All Rights Reserved]]></footerText>
    </footer>
  </settings>
</root>