@using ContentModels = Umbraco.Web.PublishedContentModels;
@{
	Layout = "Master.cshtml";
	var umbraco = new UmbracoHelper(UmbracoContext.Current);
}

<div id="content">
</div>
<div id="footer">
    <div>
        <div>
            @umbraco.RenderMacro("PreFooter", new {Content="umb://document/ea3026cc30a941a88df4511aa21783f1"})
        </div>
    </div>
</div>