

@using ContentModels = Umbraco.Web.PublishedContentModels;
@{
    Layout = null;
    var umbraco = new UmbracoHelper(UmbracoContext.Current);
}


<!DOCTYPE html>
<!-- Website template by freewebsitetemplates.com -->
<html>
<head>
    <meta charset="UTF-8" />
    <title>Home - HealthyLife</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css" />
    <!--[if IE 9]>
        <link rel="stylesheet" type="text/css" href="/css/ie9.css" />
    <![endif]-->
    <!--[if IE 7]>
        <link rel="stylesheet" type="text/css" href="/css/ie7.css" />
    <![endif]-->
    <!--[if IE 6]>
        <link rel="stylesheet" type="text/css" href="/css/ie6.css" />
    <![endif]-->
</head>
<body>
    <div id="page">
        @Html.Partial("~/Views/Partials/Header.cshtml")
       
            @RenderBody()
        
    </div>
</body>
</html>