@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = "Master.cshtml";
    var umbraco = new UmbracoHelper(UmbracoContext.Current);
}

<div id="content">
</div>

<div id="footer">
    <div>
        <div>
            @umbraco.RenderMacro("PreFooter", new { Content = "umb://document/9b1e550dcf8441c1a4f929e8b8066050" })
        </div>
    </div>
</div>